body {
    font-family: Arial, sans-serif;
    background-color: antiquewhite;
}

header {
    background-color:rgb(217, 57, 57);
    color:rgb(237, 231, 231);
    padding: 1em;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

/* Center the navigation links */
.nav-center {
    flex-grow: 1;
    text-align: center;
}

.nav-center ul {
    display: inline-flex; /* Aligns the list items horizontally */
    list-style-type: none;
    padding: 0;
}

.nav-center ul li {
    margin: 0 15px;
}

.nav-center ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
}

/* Login link at the right */
.nav-right {
    margin-left: auto;
}

.nav-right a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
}

/* Styling for the instructions section */
.apply-box{
    max-width: 1200px;
    padding: 20px;
    margin: 0px auto;
    margin-top: 25px;
    border: 1px solid rgb(139, 22, 175);
    background: rgb(139, 22, 175);
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    border-radius: 40px;
    background-color: rgba(225, 220, 220, 0.84);
    color: black;
}
p.a{
    text-align: center;
}
p.b{
    text-align: center;
}
p.c{
    text-align: center;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
h1 {
    color:rgb(17, 17, 17);
    margin-bottom: 0.5em;
    text-align: center;
}