* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgb(215, 87, 132) 0%, rgb(198, 114, 152) 35%, rgb(32, 134, 154) 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures the form is vertically centered */
}

form {
    width: 100%; /* Adjust as needed */
    max-width: 400px; /* Limit maximum width for larger screens */
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

.btn-primary {
    width: 100%;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, rgb(215, 87, 132) 0%, rgb(198, 114, 152) 35%, rgb(32, 134, 154) 100%);
    margin-top: 20px; /* Add margin for spacing */
}

.form-control {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    box-shadow: none;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    margin-bottom: 20px; /* Add margin for spacing */
}

h4 {
    font-size: 2rem;
    font-weight: 700;
}

.form-label {
    font-family: 'Poppins', sans-serif; /* Ensure font consistency */
     /* Correct typo from 800 to 800 */
}
