body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    background-color: #9b00b3;
    color: white;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    
}

.container {
    width: 80%;
    margin: 2em auto;
    padding: 2em;
    background-color: rgb(235, 228, 228);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

h1 {
    color: #e6e2e2;
}
h2{
    color: #9b00b3;
    border-left: 5px solid #9b00b3;
    padding-left: 6px;
}

.profile-section, .job-section, .intern-section {
    margin-bottom: 2em;
}

.profile-section p, .job-section ul, .intern-section ul {
    margin: 0.5em 0;
}

a {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 1em 0;
    background-color: #9b00b3;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #762782;
}
h2:hover{
    background-color:  #e1d3da
}
button, a.sign-out {
    background-color: #dc3545;
    color: white;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s;
}

button:hover, a.sign-out:hover {
    background-color: #c82333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 0.5em 0;
    border-bottom: 1px solid #ccc;
}

.sign-out-container {
    text-align: right;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
        padding: 1em;
    }
}
.profile-section{
    border-bottom: 5px solid purple;
    
}
